.logo {
    margin: 20px;
    padding: 0px;
    width: 40px;
    height: 40px;
}

html {
    scroll-behavior: smooth;
    min-width: 175px;
    max-width: 2000px;
}

.mode {
    background: rgb(200,200,200);
}

::-webkit-scrollbar {
    width: 0;
}

#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background-color: rgba(0,0,0,0.05);
}

#progressbar {
    position: fixed;
    top:0;
    right: 0;
    width:10px;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%,100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
}
#progressbar:before {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    filter: blur(10px);
    background: linear-gradient(to top, #008aff, #00ffe7);
}
#progressbar:after {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    filter: blur(30px);
    background: linear-gradient(to top, #008aff, #00ffe7);
}

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 10px;
  }

  .body {
    background-color: white; 
    color: black;
  }

  .body1 {
    background-color: black; 
    color: white;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: -5px;
    bottom: -5px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
    background-color: white;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.btn {
    margin: 20px;
    float: right
}

.intro {
    text-align: center;
    margin-top: 150px;
}

.dp {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.text {
    font-size: 30px;
}

.fa-instagram {
    background: rgb(193,53,132);
    margin-left: 0px;
}

.btn-call {
    background: yellow;
    margin-left:10px;
    color: black;
}
.btn-whatsapp {
    background: rgb(10,225,10);
    margin-left: 0px;
    color: white;
}

.links {
    text-align: center;
    padding-top: 40px;
}

.links1 {
    background-color: rgb(51, 102, 255);
    border: none;
    width: auto;
    margin-left: 0px;
    color: white;
}
.links2 {
    align-self:center;
}


.btn-telegram {
    background: white;
    margin-left:  5px;
    color: blue;
}

.fa-steam {
    background: navy;
    color: white;
}

.btn-mail {
    background: rgb(200,75,50);
    margin-left: 0px;
    color: white;
}
.content3 {
    background-color: rgb(51, 102, 255);
    color: white;
    height: auto;
    padding-bottom: 50px;
}

.btn1 {
    width: 35px;
    margin-left: 5px;;
}

#map {
    height: 200px;
    width: 70%;
    place-items:auto center;
}

.more {
    border: none;
}

.home {
    height: 400px;
    width: 500px;
}
.content1 {
    background-color: rgb(51, 102, 255);
    color: white;
    text-align: center;
    height: auto;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 50px;
}

.content2 {
    text-align: center;
    margin-top: 50px;
}

.card {
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 40px;
    color: black;
    position: center;
}

.blog:hover {
    background:  black;
    color: white;
}

.project:hover {
    transform: scale(1.15);
    text-decoration: none;
    background: rgb(51, 102, 255);
}

.project-image {
    height: 250px;
    width: auto;
}

.skill-image {
    height: auto;
    width: auto;
}

.lg {
    font-size: 20%;
}

.sm {
    font-size: 25px;
}
.edu {
    margin-top: 50px;
    text-align: left;
    margin-bottom: 30px;
}

.skill {
    border: none;
}